<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.CarManage.dao.ModelDao">

	<select id="get" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`subsidiary_id`,`brand_id`,`brand_name`,`model_name`,`logo`,`sale_state`,`create_by`,`create_date`,`update_by`,`update_date` from car_model where car_model_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`subsidiary_id`,`brand_id`,`brand_name`,`model_name`,`logo`,`sale_state`,`create_by`,`create_date`,`update_by`,`update_date` from car_model
        <where>  
		  		  <if test="carModelId != null and carModelId != ''"> and car_model_id = #{carModelId} </if>
		  		  <if test="subsidiaryId != null and subsidiaryId != ''"> and subsidiary_id = #{subsidiaryId} </if>
		  		  <if test="brandId != null and brandId != ''"> and brand_id = #{brandId} </if>
		  		  <if test="brandName != null and brandName != ''"> and brand_name = #{brandName} </if>
		  		  <if test="modelName != null and modelName != ''"> and model_name = #{modelName} </if>
		  		  <if test="logo != null and logo != ''"> and logo = #{logo} </if>
		  		  <if test="saleState != null and saleState != ''"> and sale_state = #{saleState} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by car_model_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from car_model
		 <where>  
		  		  <if test="carModelId != null and carModelId != ''"> and car_model_id = #{carModelId} </if>
		  		  <if test="subsidiaryId != null and subsidiaryId != ''"> and subsidiary_id = #{subsidiaryId} </if>
		  		  <if test="brandId != null and brandId != ''"> and brand_id = #{brandId} </if>
		  		  <if test="brandName != null and brandName != ''"> and brand_name = #{brandName} </if>
		  		  <if test="modelName != null and modelName != ''"> and model_name = #{modelName} </if>
		  		  <if test="logo != null and logo != ''"> and logo = #{logo} </if>
		  		  <if test="saleState != null and saleState != ''"> and sale_state = #{saleState} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.CarManage.domain.ModelDO">
		insert into car_model
		(
			`car_model_id`, 
			`subsidiary_id`, 
			`brand_id`, 
			`brand_name`, 
			`model_name`, 
			`logo`, 
			`sale_state`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`
		)
		values
		(
			#{carModelId}, 
			#{subsidiaryId}, 
			#{brandId}, 
			#{brandName}, 
			#{modelName}, 
			#{logo}, 
			#{saleState}, 
			#{createBy}, 
			#{createDate}, 
			#{updateBy}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.CarManage.domain.ModelDO">
		update car_model 
		<set>
			<if test="subsidiaryId != null">`subsidiary_id` = #{subsidiaryId}, </if>
			<if test="brandId != null">`brand_id` = #{brandId}, </if>
			<if test="brandName != null">`brand_name` = #{brandName}, </if>
			<if test="modelName != null">`model_name` = #{modelName}, </if>
			<if test="logo != null">`logo` = #{logo}, </if>
			<if test="saleState != null">`sale_state` = #{saleState}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where car_model_id = #{carModelId}
	</update>
	
	<delete id="remove">
		delete from car_model where car_model_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from car_model where car_model_id in 
		<foreach item="carModelId" collection="array" open="(" separator="," close=")">
			#{carModelId}
		</foreach>
	</delete>

	<select id="ModelDaoListByBrandId" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`model_name`,`brand_id` from car_model where brand_id = #{brandId}
	</select>

	<select id="ModelDaoListByBrandIdByFA" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`model_name`,`brand_id` from car_model where brand_id = #{brandId} and car_model_id in (SELECT b.car_model_id FROM car_car as b,car_offer as c WHERE b.car_id = c.car_id)
	</select>

	<select id="ModelDaoListByBrandIds" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`model_name`,`brand_id` from car_model where car_model_id in (${brandIds})
	</select>

	<select id="ModelDaoListByBrandIdAndCpii" resultType="com.bootdo.CarManage.domain.ModelDO">
		select `car_model_id`,`model_name`,`brand_id` from car_model where brand_id = #{brandId}
		AND car_model_id IN (SELECT a.car_model_id FROM car_car as a,car_product_information_car as b WHERE b.car_product_information_id = #{carProductInformationId} AND a.car_id = b.car_id)
	</select>
</mapper>