<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="city_id" name="city_id" th:value="${city.city_id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">父ID：</label>
								<div class="col-sm-8">
									<input id="pid" name="pid" th:value="${city.pid}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">名字：</label>
								<div class="col-sm-8">
									<input id="name" name="name" th:value="${city.name}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">级别：</label>
								<div class="col-sm-8">
									<input id="level" name="level" th:value="${city.level}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">首字符：</label>
								<div class="col-sm-8">
									<input id="initials" name="initials" th:value="${city.initials}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">全拼：</label>
								<div class="col-sm-8">
									<input id="pinyin" name="pinyin" th:value="${city.pinyin}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/AppManage/city/add.js">
	</script>
</body>
</html>
