<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.UserManage.dao.CollectionDao">

	<select id="get" resultType="com.bootdo.UserManage.domain.CollectionDO">
		select `collection_id`,`car_product_id`,`car_product_information_id`,`car_id`,`collection_time`,`user_id`,`channel`,`state` from user_collection where collection_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.UserManage.domain.CollectionDO">
		SELECT a.*,b.car_product_name as carProductName,c.car_product_information_name as carProductInformationName,CONCAT(d.brand_name,d.model_name,d.style_name) as carName
		FROM user_collection as a,car_product as b,car_product_information as c,car_car as d WHERE a.car_product_id = b.car_product_id AND a.car_product_information_id = c.car_product_information_id
		AND a.car_id = d.car_id AND a.user_id = #{userId}
		<if test="userIaaad != null and userId != ''"> and user_id = #{userId} </if>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by collection_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from user_collection
		 <where>  
		  		  <if test="collectionId != null and collectionId != ''"> and collection_id = #{collectionId} </if>
		  		  <if test="carProductId != null and carProductId != ''"> and car_product_id = #{carProductId} </if>
		  		  <if test="carProductInformationId != null and carProductInformationId != ''"> and car_product_information_id = #{carProductInformationId} </if>
		  		  <if test="carId != null and carId != ''"> and car_id = #{carId} </if>
		  		  <if test="collectionTime != null and collectionTime != ''"> and collection_time = #{collectionTime} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="channel != null and channel != ''"> and channel = #{channel} </if>
		  		  <if test="state != null and state != ''"> and state = #{state} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.UserManage.domain.CollectionDO" useGeneratedKeys="true" keyProperty="collectionId">
		insert into user_collection
		(
			`car_product_id`, 
			`car_product_information_id`, 
			`car_id`, 
			`collection_time`, 
			`user_id`, 
			`channel`, 
			`state`
		)
		values
		(
			#{carProductId}, 
			#{carProductInformationId}, 
			#{carId}, 
			#{collectionTime}, 
			#{userId}, 
			#{channel}, 
			#{state}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.UserManage.domain.CollectionDO">
		update user_collection 
		<set>
			<if test="carProductId != null">`car_product_id` = #{carProductId}, </if>
			<if test="carProductInformationId != null">`car_product_information_id` = #{carProductInformationId}, </if>
			<if test="carId != null">`car_id` = #{carId}, </if>
			<if test="collectionTime != null">`collection_time` = #{collectionTime}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="channel != null">`channel` = #{channel}, </if>
			<if test="state != null">`state` = #{state}</if>
		</set>
		where collection_id = #{collectionId}
	</update>
	
	<delete id="remove">
		delete from user_collection where collection_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from user_collection where collection_id in 
		<foreach item="collectionId" collection="array" open="(" separator="," close=")">
			#{collectionId}
		</foreach>
	</delete>

</mapper>