<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">方案名：</label>
								<div class="col-sm-8">
									<input id="carProductInformationName" name="carProductInformationName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">产品名：</label>
								<div class="col-sm-8">
									<select data-placeholder="请选择" name="carProductId" id="carProductId"
											class="form-control chosen-select" tabindex="2"
											style="width: 100%">
										<option value="">请选择</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">首付：</label>
								<div class="col-sm-8" id="downPayment">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">期限(每个期限对应一个利率,3%请输入0.03)：</label>
								<div class="col-sm-8" id = "term">

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">方案标签：</label>
								<div class="col-sm-8">
									<select data-placeholder="请选择" name="programmeLabel" id="programmeLabel"
											class="form-control chosen-select" tabindex="2"
											style="width: 100%">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">优惠标签：</label>
								<div class="col-sm-8">
									<select data-placeholder="请选择" name="discountLabel" id="discountLabel"
											class="form-control chosen-select" tabindex="2"
											style="width: 100%">
										<option value="">请选择</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<input id="carIds" name="carIds" type="hidden">
								<label class="col-sm-3 control-label">支持的汽车：</label>
								<div class="col-sm-8">
									<!--<select data-placeholder="请选择" name="carIdList" id="carIdList"-->
									<!--class="form-control chosen-select" tabindex="2"-->
									<!--style="width: 100%">-->
									<!--&lt;!&ndash;<option value="0">请选择</option>&ndash;&gt;-->
									<!--</select>-->
									<div id="carTree"></div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/CarManage/productInformation/add.js">
	</script>
</body>
</html>
