<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="switch col-sm-1">
									<div class="onoffswitch">
										<input id="businessState" name="businessState" value="1"  type="hidden">
										<input id="businessStateC" onclick="boxf()" type="checkbox" class="onoffswitch-checkbox">
										<label class="onoffswitch-label" for="businessStateC">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">跳转类型：</label>
								<div class="col-sm-8">
									<select data-placeholder="请选择" name="jumpType" id="jumpType"
											class="form-control chosen-select" tabindex="2"
											style="width: 100%">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">跳转链接：</label>
								<div class="col-sm-8">
									<input id="jumpUrl" name="jumpUrl" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">贷款产品名：</label>
								<div class="col-sm-8">
									<input id="carProductName" name="carProductName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">广告语：</label>
								<div class="col-sm-8">
									<input id="adver" name="adver" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">申请条件：</label>
								<div class="col-sm-8">
									<input id="applyCondition" name="applyCondition" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">介绍：</label>
								<div class="col-sm-8">
									<input id="introduce" name="introduce" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">排序：</label>
								<div class="col-sm-8">
									<input id="sort" name="sort" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系人姓名：</label>
								<div class="col-sm-8">
									<input id="contactName" name="contactName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系人手机：</label>
								<div class="col-sm-8">
									<input id="contactPhone" name="contactPhone" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">支持的城市：</label>
								<div class="col-sm-8">
									<select data-placeholder="请选择" name="carProductCityIds" id="carProductCityIds"
											class="form-control chosen-select" tabindex="2"
											style="width: 100%" multiple="multiple">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">贷款流程(图片)：</label>
								<div class="col-sm-6">
									<input id="img" name="loanProcess" class="form-control" type="text">
								</div>
								<input id="img-btn" class="btn btn-warning" type="button" value="选择图片">
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">logo：</label>
								<div class="col-sm-6">
									<input id="img2" name="logo" class="form-control" type="text">
								</div>
								<input id="img-btn2" class="btn btn-warning" type="button" value="选择图片">
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/CarManage/product/add.js">
	</script>
	<script>
        $(function(){
            if(1 ==  $('#businessState').val()){
                document.getElementById('businessState').checked=true;
            }else{
                document.getElementById('businessState').checked=false;
            }
        });

        function boxf() {
            if(1 == $('#businessState').val()){
                $('#businessState').val(0);
                document.getElementById('businessState').checked=false;
            }else{
                $('#businessState').val(1);
                document.getElementById('businessState').checked=true;
            }
        }
	</script>
</body>
</html>
