<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.AppManage.dao.LabelDao">

	<select id="get" resultType="com.bootdo.AppManage.domain.LabelDO">
		select `label_id`,`type`,`name`,`create_by`,`create_date`,`update_by`,`update_date` from app_label where label_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.AppManage.domain.LabelDO">
		select `label_id`,`type`,`name`,`create_by`,`create_date`,`update_by`,`update_date` from app_label
        <where>  
		  		  <if test="labelId != null and labelId != ''"> and label_id = #{labelId} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by label_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from app_label
		 <where>  
		  		  <if test="labelId != null and labelId != ''"> and label_id = #{labelId} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.AppManage.domain.LabelDO" useGeneratedKeys="true" keyProperty="labelId">
		insert into app_label
		(
			`type`, 
			`name`, 
			`create_by`, 
			`create_date`, 
			`update_by`, 
			`update_date`
		)
		values
		(
			#{type}, 
			#{name}, 
			#{createBy}, 
			#{createDate}, 
			#{updateBy}, 
			#{updateDate}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.AppManage.domain.LabelDO">
		update app_label 
		<set>
			<if test="type != null">`type` = #{type}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
		</set>
		where label_id = #{labelId}
	</update>
	
	<delete id="remove">
		delete from app_label where label_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from app_label where label_id in 
		<foreach item="labelId" collection="array" open="(" separator="," close=")">
			#{labelId}
		</foreach>
	</delete>

	<select id="labelList" resultType="com.bootdo.AppManage.domain.LabelDO">
		SELECT
			al.label_id,al.type,al.`name`, alr.relation_id as sf
		FROM
			app_label AS al
		LEFT JOIN app_label_relation AS alr ON al.label_id = alr.label_id
		AND alr.relation_id = #{id}
		WHERE
			al.type = #{type}
	</select>
</mapper>